@font-face {
    font-family: 'press_start_2pregular';
    src: url('fonts/pressstart2p-webfont.eot');
    src: url('fonts/pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pressstart2p-webfont.ttf') format('truetype'),
         url('fonts/pressstart2p-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

div { font-family: 'press_start_2pregular', Arial, sans-serif; }
